.hero-image{
    background-image: url("./Images/gargantuan-black-hole.jpg");
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 85%;
    position: relative;
}
h1{
    color: white;
    position: absolute;
    text-align: left;
    top: 180px;
    width: 100%;
    font-size: 3rem;
}

body{
    background-size: 50%;
}
a{
line-height: 15;
margin-right: 100px;
margin-left: 150px;
}

.One-column{
    margin-left:100;
}