.hero-image{
    background-image: url("./Images/gargantuan-black-hole.jpg");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
h1{
    color: white;
    position: absolute;
    text-align: left;
    top: 180px;
    width: 100%;
    font-size: 3rem;
}